body {
    overflow: auto;
    padding: 0;
    margin: 0;
}

p,
a {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
    font-family: Courier, monospace, Helvetica sans-serif;
    font-smooth: antialiased;
    margin: 0.8em 0;
    font-size: 18px;
    color: rgb(238, 238, 237);
}

.ghost,
.glitch {
    opacity: 0.25;
}

#message {
    margin-left: -300px;
    margin-top: -100px;
    position: relative;
    height: 260px;
    width: 600px;
    left: 50%;
    top: 50%;
}

#animate {
    text-shadow: 0 0 8px rgba(209, 194, 165, 0.1);
    position: absolute;
    color: #f0ede9;
    bottom: 0;
}

button {
    background-color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    padding: 4px;
    border-radius: 10px;
    color: white
}

button:hover {
    background-color: #333;
    color: white
}

#container {
    background: -webkit-radial-gradient(50% 50%, ellipse, #000000 0%, #000000 75%, #000000 100%);
    background: -moz-radial-gradient(50% 50%, ellipse, #000000 0%, #000000 75%, #000000 100%);
    position: relative;
    height: 0;
    width: 0;
    left: 900px;
    top: 250px;
}

#container:before {
    pointer-events: none;
    position: relative;
    height: 100%;
    width: 100%;
    content: "";
    left: 0;
    top: 0;
}


/* navigation */

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
}

.logo {
    color: white;
    font-size: 28px;
}

span {
    color: #B2AC88;
}

nav ul li {
    color: white;
    list-style-type: none;
    display: inline-block;
    align-items: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: .4s;
}

nav ul li a:hover {
    transform: scale(1.3);
    cursor: pointer;
    color: red;
}

.suscribe {
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    font-weight: bold;
    font-size: 17px;
    transition: .4s;
    left: 20;
    position: relative;
    left: 30px;
}

.suscribe:hover {
    transform: scale(1.3);
    cursor: pointer;
    color: red;
}


/* for slider */


/* Section 3 */

.section-3 {
    width: 100%;
    height: 100vh;
    background-color: #03070e;
    display: flex;
    align-items: center;
    padding-left: 10rem;
}

.pricing-cards-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 10rem;
    padding-top: 110rem;
    position: relative;
}

.pricing-card {
    width: 28rem !important;
    height: 45rem !important;
    background-color: #181b1d;
    border-radius: 1rem;
    box-shadow: 2rem 2rem 6rem rgba(0, 0, 0, 0.7);
}

.pricing-card-front {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pricing-card-heading {
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.pricing-card-price {
    font-family: "MADE Soulmaze", sans-serif;
    font-size: 7rem;
    font-weight: 300;
    color: #fff;
}

.pricing-card-list li {
    margin-bottom: 0.5rem;
}

.pricing-card-list i {
    font-size: 1.8rem;
    width: 3rem;
}

.pricing-card-list span {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
}

.pricing-card-btn {
    width: 18rem;
    height: 5rem;
    margin-bottom: 3rem;
    border-radius: 3rem;
    border: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.5);
}

.pricing-card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    border-radius: 1rem;
}

.pricing-card-back a {
    font-size: 2.5rem;
    color: #fff;
}


/* End of Section 3 */

@media (max-width: 1800px) {
    .video-wrapper {
        width: 90rem;
        height: 45rem;
        right: 10rem;
    }
    .section-2-paragraph {
        width: 90rem;
        right: 10rem;
    }
    .section-3 .section-heading-line {
        margin-right: 3rem;
    }
}

@media (max-width: 1650px) {
    html {
        font-size: 57%;
    }
    .video-wrapper {
        width: 85rem;
        height: 40rem;
        right: 5rem;
    }
    .section-2-paragraph {
        width: 85rem;
        right: 5rem;
        bottom: 10rem;
    }
}

@media (max-width: 1500px) {
    .section-heading-line {
        display: none;
    }
}

@media (max-width: 1400px) {
    html {
        font-size: 45%;
    }
    .banner-heading span {
        font-size: 10rem;
    }
    .banner-paragraph {
        width: 45rem;
        font-size: 3rem;
    }
    .section-2,
    .section-3,
    .section-4 {
        flex-direction: column;
    }
    .section-2 {
        height: 120vh;
    }
    .video-wrapper {
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 80rem;
    }
    .section-2-paragraph {
        left: 50%;
        transform: translateX(-50%);
        width: 80rem;
    }
    .section-3 {
        height: auto;
        padding: 5rem 0 10rem 0;
    }
    .section-3 .section-heading {
        margin-bottom: 7rem;
    }
    .swiper-container {
        width: 100%;
    }
    .section-4 {
        height: auto;
        padding: 5rem 0;
    }
}

@media (max-width: 900px) {
    html {
        font-size: 40%;
    }
    .banner {
        top: 25%;
    }
    .banner-heading {
        height: 15rem;
    }
    .banner-heading span {
        font-size: 8rem;
    }
    .footer {
        padding: 0 5rem;
    }
    .footer-nav a {
        font-size: 1.8rem;
    }
}

@media (max-width: 700px) {
    html {
        font-size: 35%;
    }
    .section-2 {
        height: 100vh;
    }
    .contact-details div {
        margin: 3rem 2rem;
    }
    .footer {
        flex-direction: column;
        justify-content: center;
    }
    .footer-nav {
        margin-bottom: 2rem;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 30%;
    }
    .banner-heading span {
        font-size: 4.5rem;
        letter-spacing: 2rem;
    }
    @keyframes animateHeading {
        0% {
            transform: translateZ(8rem);
            opacity: 0;
            letter-spacing: 2rem;
        }
        3% {
            transform: translateZ(0);
            opacity: 1;
            letter-spacing: 1rem;
        }
        25% {
            transform: translateZ(0);
            opacity: 1;
            letter-spacing: 1rem;
        }
        28% {
            transform: translateZ(8rem);
            opacity: 0;
            letter-spacing: 2rem;
        }
        100% {
            transform: translateZ(8rem);
            opacity: 0;
            letter-spacing: 2rem;
        }
    }
    .video-wrapper {
        width: 60rem;
    }
    .section-2-paragraph {
        width: 60rem;
    }
    .contact-details div {
        width: 18rem;
        margin: 3rem 1rem;
    }
    .contact-form {
        width: 60rem;
    }
}


/* End of Responsive */