html,
body,
section {
    block-size: 100%;
    box-sizing: border-box;
}

html {
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

section:nth-of-type(1) {
    overflow: hidden;
}

section:nth-of-type(2) {
    color: white;
    background-image: radial-gradient(farthest-corner at 60% 55%, black, rgb(111, 108, 108), black, black);
    background-size: cover;
    background-position: center;
}

section:nth-of-type(3) {
    color: white;
    background-image: url(friends3.jpg);
    background-size: cover;
    background-position: center;
}

body {
    padding: 0;
    margin: 0;
    background: url(friends.jpg) no-repeat center center fixed;
    background-size: cover;
    background-position: center;
}

p,
a {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
    font-family: Courier, monospace;
    font-weight: bold;
    font-smooth: antialiased;
    margin: 0.8em 0;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.ghost,
.glitch {
    opacity: 0.25;
}

#message {
    margin-left: -300px;
    margin-top: -130px;
    position: absolute;
    height: 260px;
    width: 600px;
    left: 50%;
    top: 50%;
}

#animate {
    text-shadow: 0 0 8px rgba(209, 194, 165, 0.1);
    position: absolute;
    color: #4f4228;
    bottom: 0;
}

#container {
    background: -webkit-radial-gradient(50% 50%, ellipse, #000000 0%, #000000 75%, #000000 100%);
    background: -moz-radial-gradient(50% 50%, ellipse, #000000 0%, #000000 75%, #000000 100%);
    position: relative;
    height: 0;
    width: 0;
    left: 900px;
    top: 250px;
}

#container:before {
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    left: 0;
    top: 0;
}


/* navigation */

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
}

.logo {
    color: rgb(255, 255, 255);
    font-size: 28px;
}

span {
    color: yellowgreen;
}

nav ul li {
    color: rgb(251, 0, 0);
    list-style-type: none;
    display: inline-block;
    align-items: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav ul li a {
    color: red;
    text-decoration: none;
    font-weight: bold;
    transition: .4s;
}

nav ul li a:hover {
    transform: scale(1.3);
    cursor: pointer;
    color: yellowgreen;
}

.suscribe {
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
    color: red;
    font-weight: bold;
    font-size: 17px;
    transition: .4s;
    left: 20;
    position: relative;
    left: 30px;
    top: -16px;
}

.suscribe:hover {
    transform: scale(1.3);
    cursor: pointer;
    color: red;
}


/* end of navigation */


/* for slider */

.slider-container {
    position: relative;
    left: 750px;
    top: 170px;
    width: 100%;
    height: 400px;
    perspective: 800px;
    margin-bottom: 0;
}

.slider {
    /* display: flex; */
    width: 110%;
    height: 105%;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.slide {
    flex-shrink: 0;
    width: 33.33%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transition: transform 1s;
    transform-origin: center center;
    /* set the transform origin to the center */
}

video {
    width: 100%;
    height: 100%;
    border: yellowgreen;
    border-radius: 5%;
    object-fit: cover;
    transform: rotateY(0deg);
    /* set the initial rotation of the video */
}

.controls {
    position: relative;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

button {
    position: relative;
    background-color: rgb(110, 106, 106);
    border: #4f4228;
    border-radius: 10%;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

button:focus {
    outline: auto;
}

.slider .slide:not(:first-child) {
    transform: rotateY(90deg) translateZ(-300px);
    pointer-events: none;
}

.slider .slide.active {
    transform: auto;
    pointer-events: auto;
}


/* image slider */

.imageSlider {
    position: relative;
    top: 200px;
    left: 600px;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}

@keyframes rotate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.imageSlider span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translate(350px);
}

.imageSlider span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    object-fit: cover;
    transition: 2s;
}


/* end of image slider  */


/* for gallery */

.section-3 {
    background-color: #333;
    padding: 5rem 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10rem;
}

.gallery-link {
    position: relative;
    margin: 4rem 1rem;
}

.gallery-link::before {
    content: "";
    position: absolute;
    top: 2vw;
    left: 80%;
    width: 0.2rem;
    height: 0;
    background-color: #fff;
    z-index: 10;
    transition: height 0.5s;
}

.gallery-link::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 2rem;
    width: 0;
    height: 0.2rem;
    background-color: #fff;
    transition: width 0.5s;
}

.gallery-link:hover::before {
    height: 80%;
}

.gallery-link:hover::after {
    width: 90%;
}

.food-img {
    width: 24vw;
    height: 15vw;
    object-fit: cover;
    box-shadow: 0.3rem 0.3rem 0.1rem #e92929, 0.5rem 0.5rem 0.1rem #a2e946, 0.7rem 0.7rem 0.1rem #297ce9, 0.9rem 0.9rem 0.1rem #e92999;
    transition: all 0.5s;
}

.gallery-link:hover .food-img {
    box-shadow: 1rem 1rem 0.1rem #e92929, 2rem 2rem 0.1rem #a2e946, 3rem 3rem 0.1rem #297ce9, 4rem 4rem 0.1rem #e92999;
    transform: scale(1.1);
    filter: blur(0.5rem);
    opacity: 0.5;
}

.food-name {
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #fff;
    width: 0;
    overflow: hidden;
    transition: width 0.3s;
}

.gallery-link:hover .food-name {
    width: 100%;
    transition: width 1.5s 0.5s;
}

.food-description {
    position: absolute;
    bottom: 3vw;
    left: 2rem;
    width: 70%;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

.gallery-link:hover .food-description {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s 1s;
}


/* End of Section 3 */